.frosted-glass {
  @apply shadow-2xl backdrop-blur-lg;
}

.absolute-center {
  @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.flex-center {
  @apply flex items-center justify-center;
}

.dark-white-text-hover {
  @apply dark:text-white dark:hover:text-customRed;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
